@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<hr />
Session.Id : @ViewData["Session.Id"];
<hr />
Session.Keys : @ViewData["Session.Keys"];
<hr />
Session.IsAvailable : @ViewData["Session.IsAvailable"];
<hr />
Session.Time : @ViewData["Session.Time"];
<hr />
obj : @ViewData["obj"]
<hr />
coo : @ViewData["coo"]
<hr />
aaa